/.git
/.vagrant
/sync/fullscreen/vendor
/sync/fullscreen/web/core
/sync/fullscreen/web/modules
/sync/fullscreen/web/profiles
/sync/fullscreen/web/sites
/sync/fullscreen/web/.csslintrc
/sync/fullscreen/web/.eslintignore
/sync/fullscreen/web/.eslintrc.json
/sync/fullscreen/web/.ht.router.php
/sync/fullscreen/web/.htaccess
/sync/fullscreen/web/autoload.php
/sync/fullscreen/web/example.gitignore
/sync/fullscreen/web/index.php
/sync/fullscreen/web/INSTALL.txt
/sync/fullscreen/web/README.md
/sync/fullscreen/web/robots.txt
/sync/fullscreen/web/update.php
/sync/fullscreen/web/web.config
